<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('parts/head') %>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('parts/nav') %>
    <%- include('parts/login-modal') %>
    <%- include('parts/sigin-modal') %>
    <%- include('parts/carousel-background') %>
    <%- include('parts/search-card') %>
</body>